body {
  padding-bottom: 20px;
}

hr{
    border: none;
    height: 1px;
    color: #333;
    background-color:  #333;

}

.navbar {
  margin-bottom: 20px;
}

.container {
    width: 90%;
}

.box {
  border: 5px solid lightpink;
}

.home-headline {
    font-family: 'Times New Roman', serif;
    font-size: 24px;
    margin: auto;
    color: lightpink;
    text-align: center;
}

.home-headline span {
    background-color: #0f0f0f;
    padding: 5px 20px;
}