
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Navbar Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="/css/style.css" rel="stylesheet" />
</head>

<body>

    <!-- Static navbar -->
    <nav class="navbar navbar-default navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">FotoMiś Store</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Contact</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li role="separator" class="divider"></li>
                            <li class="dropdown-header">Nav header</li>
                            <li><a href="#">Separated link</a></li>
                            <li><a href="#">One more separated link</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="./">Default <span class="sr-only">(current)</span></a></li>
                    <li><a href="../navbar-static-top/">Static top</a></li>
                    <li><a href="../navbar-fixed-top/">Fixed top</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
    </nav>

    <!-- container -->
    <div class="container">
        <div class="row">

            <!-- carousel -->
            <div class="col-xs-8">
                <div id="carousel-example-generic" class="carousel slide"
                     data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-example-generic" data-slide-to="0"
                            class="active"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <img src="https://scontent.fwaw3-1.fna.fbcdn.net/v/t31.0-8/16423073_262720507491900_7951734446989244758_o.jpg?_nc_cat=0&oh=9bd7f30ca43622776730946d425e1c64&oe=5B298C5A"
                                 alt="..." />
                            <div class="carousel-caption">
                                <h4>Pudełko</h4>
                                <p>Dzieło sztuki stoi wyżej niż dzieło natury.<br>
                                                             Georg W. F. Hegel</p>
                            </div>
                        </div>
                        <div class="item">
                            <img src="https://scontent.fwaw3-1.fna.fbcdn.net/v/t31.0-8/15994689_249927562104528_2115837076323809418_o.jpg?_nc_cat=0&oh=0e96f01fdcb06a403a7074782b469bde&oe=5B48730B"
                                 alt="..." />
                            <div class="carousel-caption">
                                <h4>Pudełko</h4>
                                <p>Pierwszym obowiązkiem artysty jest opanowanie rzemiosła. <br>
                                                                          Rurdyart Kipling</p>
                            </div>
                        </div>
                        <div class="item">
                            <img src="https://scontent.fwaw3-1.fna.fbcdn.net/v/t31.0-8/15123444_223769198053698_3885127229901107658_o.jpg?oh=0ae9a0255aec2c905616d8a604425d73&oe=5B35DEBC"
                                 alt="..." />
                            <div class="carousel-caption">
                                <h4>Pudełko</h4>
                                <p>Piękno raduje nie tego, kto je posiada, <br> ale tego, kto je może kochać i wielbić.<br>
                                                                                                    Hermann Hesse</p>
                            </div>
                        </div>
                        ...
                    </div>

                    <!-- Controls -->
                    <a class="left carousel-control" href="#carousel-example-generic"
                       role="button" data-slide="prev"> <span
                            class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a> <a class="right carousel-control" href="#carousel-example-generic"
                            role="button" data-slide="next"> <span
                        class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
                </div>
            </div>

            <div class="col-xs-4">
                <img src="/image/logo.jpg" class="img-responsive">
            </div>

        </div>

        <hr />

        <div class="row">
            <div class="col-xs-6">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <img src="/image/fotomis.jpg" class="img-responsive"/>

                    </div>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <img src="/image/lokalizacja.png" class="img-responsive"/>

                    </div>
                </div>
            </div>

        </div>

    </div>
    <!-- container -->



<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
</body>
</html>
