
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="common/header :: common-header" />

<body>

<!-- Static navbar -->
<div th:replace="common/header :: navbar" />

    <!-- container -->
    <div class="container">
        <div class="row">

            <!-- carousel -->
            <div class="col-xs-8">
                <div id="carousel-example-generic" class="carousel slide"
                     data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-example-generic" data-slide-to="0"
                            class="active"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <img src="https://scontent.fwaw3-1.fna.fbcdn.net/v/t31.0-8/16423073_262720507491900_7951734446989244758_o.jpg?_nc_cat=0&oh=9bd7f30ca43622776730946d425e1c64&oe=5B298C5A"
                                 alt="..." />
                            <div class="carousel-caption">
                                <h4>Pudełko</h4>
                                <p>Dzieło sztuki stoi wyżej niż dzieło natury.<br>
                                                             Georg W. F. Hegel</p>
                            </div>
                        </div>
                        <div class="item">
                            <img src="https://scontent.fwaw3-1.fna.fbcdn.net/v/t31.0-8/15994689_249927562104528_2115837076323809418_o.jpg?_nc_cat=0&oh=0e96f01fdcb06a403a7074782b469bde&oe=5B48730B"
                                 alt="..." />
                            <div class="carousel-caption">
                                <h4>Pudełko</h4>
                                <p>Pierwszym obowiązkiem artysty jest opanowanie rzemiosła. <br>
                                                                          Rurdyart Kipling</p>
                            </div>
                        </div>
                        <div class="item">
                            <img src="https://scontent.fwaw3-1.fna.fbcdn.net/v/t31.0-8/15123444_223769198053698_3885127229901107658_o.jpg?oh=0ae9a0255aec2c905616d8a604425d73&oe=5B35DEBC"
                                 alt="..." />
                            <div class="carousel-caption">
                                <h4>Pudełko</h4>
                                <p>Piękno raduje nie tego, kto je posiada, <br> ale tego, kto je może kochać i wielbić.<br>
                                                                                                    Hermann Hesse</p>
                            </div>
                        </div>
                        ...
                    </div>

                    <!-- Controls -->
                    <a class="left carousel-control" href="#carousel-example-generic"
                       role="button" data-slide="prev"> <span
                            class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a> <a class="right carousel-control" href="#carousel-example-generic"
                            role="button" data-slide="next"> <span
                        class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
                </div>
            </div>

            <div class="col-xs-4">
                <img src="/image/logo.jpg" class="img-responsive">
            </div>

        </div>

        <hr />

        <div class="row">
            <div class="col-xs-6">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <img src="/image/fotomis.jpg" class="img-responsive"/>

                    </div>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <img src="/image/lokalizacja.png" class="img-responsive"/>

                    </div>
                </div>
            </div>

        </div>

        <div>
            <div class="home-headline">
                <span> SUPER MIS </span>
                <hr style="margin-top: -15px"/>
            </div>
        </div>

        <div class="row">
            <div id="super-mis" class="carousel slide"
                 data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#super-mis" data-slide-to="0"
                        class="active"></li>
                    <li data-target="#super-mis" data-slide-to="1"></li>
                    <li data-target="#super-mis" data-slide-to="2"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <img src="/image/background.jpg" class="img-responsive"/>
                        <div class="carousel-caption">
                        <div class="row">
                            <div class="col-xs-2"><img src="https://scontent.fwaw3-1.fna.fbcdn.net/v/t1.0-9/15253374_226910591072892_2563861347637660511_n.jpg?_nc_cat=0&oh=0473fab5581a677a0e2eff6c3663ba1f&oe=5B4326BA" class="img-responsive"/> </div>
                            <div class="col-xs-2"><img src="https://scontent.fwaw3-1.fna.fbcdn.net/v/t1.0-9/15253374_226910591072892_2563861347637660511_n.jpg?_nc_cat=0&oh=0473fab5581a677a0e2eff6c3663ba1f&oe=5B4326BA" class="img-responsive"/> </div>
                            <div class="col-xs-2"><img src="https://scontent.fwaw3-1.fna.fbcdn.net/v/t1.0-9/15253374_226910591072892_2563861347637660511_n.jpg?_nc_cat=0&oh=0473fab5581a677a0e2eff6c3663ba1f&oe=5B4326BA" class="img-responsive"/> </div>
                            <div class="col-xs-2"><img src="https://scontent.fwaw3-1.fna.fbcdn.net/v/t1.0-9/15253374_226910591072892_2563861347637660511_n.jpg?_nc_cat=0&oh=0473fab5581a677a0e2eff6c3663ba1f&oe=5B4326BA" class="img-responsive"/> </div>
                            <div class="col-xs-2"><img src="https://scontent.fwaw3-1.fna.fbcdn.net/v/t1.0-9/15253374_226910591072892_2563861347637660511_n.jpg?_nc_cat=0&oh=0473fab5581a677a0e2eff6c3663ba1f&oe=5B4326BA" class="img-responsive"/> </div>
                            <div class="col-xs-2"><img src="https://scontent.fwaw3-1.fna.fbcdn.net/v/t1.0-9/15253374_226910591072892_2563861347637660511_n.jpg?_nc_cat=0&oh=0473fab5581a677a0e2eff6c3663ba1f&oe=5B4326BA" class="img-responsive"/> </div>

                        </div>
                        </div>

                    </div>
                    <div class="item">
                        <img src="/image/background.jpg" class="img-responsive"/>
                        <div class="carousel-caption">
                            <div class="row">
                                <div class="col-xs-2"><img src="https://scontent.fwaw3-1.fna.fbcdn.net/v/t1.0-9/15253374_226910591072892_2563861347637660511_n.jpg?_nc_cat=0&oh=0473fab5581a677a0e2eff6c3663ba1f&oe=5B4326BA" class="img-responsive"/> </div>
                                <div class="col-xs-2"><img src="https://scontent.fwaw3-1.fna.fbcdn.net/v/t1.0-9/15253374_226910591072892_2563861347637660511_n.jpg?_nc_cat=0&oh=0473fab5581a677a0e2eff6c3663ba1f&oe=5B4326BA" class="img-responsive"/> </div>
                                <div class="col-xs-2"><img src="https://scontent.fwaw3-1.fna.fbcdn.net/v/t1.0-9/15253374_226910591072892_2563861347637660511_n.jpg?_nc_cat=0&oh=0473fab5581a677a0e2eff6c3663ba1f&oe=5B4326BA" class="img-responsive"/> </div>
                                <div class="col-xs-2"><img src="https://scontent.fwaw3-1.fna.fbcdn.net/v/t1.0-9/15253374_226910591072892_2563861347637660511_n.jpg?_nc_cat=0&oh=0473fab5581a677a0e2eff6c3663ba1f&oe=5B4326BA" class="img-responsive"/> </div>
                                <div class="col-xs-2"><img src="https://scontent.fwaw3-1.fna.fbcdn.net/v/t1.0-9/15253374_226910591072892_2563861347637660511_n.jpg?_nc_cat=0&oh=0473fab5581a677a0e2eff6c3663ba1f&oe=5B4326BA" class="img-responsive"/> </div>
                                <div class="col-xs-2"><img src="https://scontent.fwaw3-1.fna.fbcdn.net/v/t1.0-9/15253374_226910591072892_2563861347637660511_n.jpg?_nc_cat=0&oh=0473fab5581a677a0e2eff6c3663ba1f&oe=5B4326BA" class="img-responsive"/> </div>

                            </div>
                        </div>

                    </div>
                    <div class="item">

                        <img src="/image/background.jpg" class="img-responsive"/>
                        <div class="carousel-caption">
                            <div class="row">
                                <div class="col-xs-2"><img src="https://scontent.fwaw3-1.fna.fbcdn.net/v/t1.0-9/15253374_226910591072892_2563861347637660511_n.jpg?_nc_cat=0&oh=0473fab5581a677a0e2eff6c3663ba1f&oe=5B4326BA" class="img-responsive"/> </div>
                                <div class="col-xs-2"><img src="https://scontent.fwaw3-1.fna.fbcdn.net/v/t1.0-9/15253374_226910591072892_2563861347637660511_n.jpg?_nc_cat=0&oh=0473fab5581a677a0e2eff6c3663ba1f&oe=5B4326BA" class="img-responsive"/> </div>
                                <div class="col-xs-2"><img src="https://scontent.fwaw3-1.fna.fbcdn.net/v/t1.0-9/15253374_226910591072892_2563861347637660511_n.jpg?_nc_cat=0&oh=0473fab5581a677a0e2eff6c3663ba1f&oe=5B4326BA" class="img-responsive"/> </div>
                                <div class="col-xs-2"><img src="https://scontent.fwaw3-1.fna.fbcdn.net/v/t1.0-9/15253374_226910591072892_2563861347637660511_n.jpg?_nc_cat=0&oh=0473fab5581a677a0e2eff6c3663ba1f&oe=5B4326BA" class="img-responsive"/> </div>
                                <div class="col-xs-2"><img src="https://scontent.fwaw3-1.fna.fbcdn.net/v/t1.0-9/15253374_226910591072892_2563861347637660511_n.jpg?_nc_cat=0&oh=0473fab5581a677a0e2eff6c3663ba1f&oe=5B4326BA" class="img-responsive"/> </div>
                                <div class="col-xs-2"><img src="https://scontent.fwaw3-1.fna.fbcdn.net/v/t1.0-9/15253374_226910591072892_2563861347637660511_n.jpg?_nc_cat=0&oh=0473fab5581a677a0e2eff6c3663ba1f&oe=5B4326BA" class="img-responsive"/> </div>

                            </div>
                        </div>

                    </div>

                </div>
                <!-- Controls -->
                <a class="left carousel-control" href="#super-mis"
                   role="button" data-slide="prev"> <span
                        class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a> <a class="right carousel-control" href="#super-mis"
                        role="button" data-slide="next"> <span
                    class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
                </a>
            </div>
        </div>

    </div>    <!-- end of container -->





<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<div th:replace="common/header :: body-bottom-scripts" />
</body>
</html>
